body {
  background-color: #f1f1f1;
}

$colors : (
  primary: #8c699c,
  secondary: black,
);

@each $key, $color in $colors {
  .#{$key}-text {
    color: $color;
  }

  .btn-#{$key} {
    background-color: $color !important;
    border-color: $color !important;
  }
}

a {
  font-weight: bold;
}

.btn {
  border-radius: 50em !important;
  font-weight: bold !important;
  font-size: 14px !important;
  padding: 15px 25px !important;
}

.logo-link {

  &:hover {
    text-decoration: none !important;
  }
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

#menu {
  padding: 10px 0;
  box-shadow: 0 0 15px #8c699c1f;

  .nav-link {
    padding: 1rem 1rem;
  }  
}

.app-header {
  min-height: 70vh;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: block;
  height: 50vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 0.7em;

  .carousel-item {
    transition: 500ms;
    display: block;
    border-radius: 0.6em;
    padding: 25px 30px 35px;
    margin: 0px 0;

    .item-image {
      width: 50px;
      margin: auto;
    }
  }
}

.carousel div h2 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.carousel div h5 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.editor-container {
  width: 100%;
  height: 50vh;
  background: linear-gradient(45deg, #2e0a4d, #62247a);
  border-radius: 0.3em;
  border: 4px solid #2e0a4d;
  margin: auto;
}

.logo {
  width: max-content;
  color: #62247a;
  padding: 10px 10px;
  border-radius: 10em;
  background-color: #62247a15;
  display: inline-flex;
}

.logo-slug {
  width: 35px;
  height: 35px;
  border-radius: 10em;
  padding: 5px 10px 15px;
  font-weight: bold;
  text-align: center;
  background: #2e0a4d;
  color: white;
}

.logo span {
  margin-left: 5px;
  margin-top: 6px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#footer {
  background: #f1f1f1;
  padding: 20px 0;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .editor-container,
  .carousel {
    width: 100% !important;
  }
}

$primaryColor: black;
$secondaryColor: transparent;
$steps: 10;

.glitch {
  position: relative;
  margin: 0 auto;
  color: $primaryColor;
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $secondaryColor;
    color: $primaryColor;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 0px;
    text-shadow: 1px 0 yellow;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 0px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
